# Project 5: Gender Voices Classification

### Overview

In this project, you are provided with a dataset which contains some statistical information about the audio frequencies of different male and female voices. Based on the information provided, you have to find out which voice belongs to which gender using the `RandomForestClassifier` algorithm.

The data description is provided below for the dataset.

<img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/whitehat-ds-datasets/project-4/gender_voice_dataset_attributes.png' width=600>

*Dataset credits: https://www.mldata.io/dataset-details/gender_voice/*

Please note that

1. In the `label` column, `0` denotes the male class and `1` denotes the female class.

2. You are not required to know the meaning of all the other attributes in the dataset. You just need to deploy a prediction model with these attributes as the feature variables and the `label` column as the target variable.

You can get the datasets from the following links:

1. Train dataset
  
  https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/whitehat-ds-datasets/project-4/gender-voice-train.csv

2. Test dataset

  https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/whitehat-ds-datasets/project-4/gender-voice-test.csv

---

### Project Requirements

1. Create a pandas DataFrame for the train and test datasets.

2. Display the first five rows of both the training and test DataFrames.

3. Display the last five rows of both the training and test DataFrames.

4. Find the number of rows and columns in the train and test DataFrames.

5. Check for the missing values in the train and test DataFrames.

6. Count the number of `male` and `female` classes in the train DataFrame.

7. Separate the feature variables, i.e., `x_train` and `x_test` from both the DataFrames.

8. Separate the target variable, i.e., `y_train` and `y_test` from both the DataFrames.

9. Apply the `RandomForestClassifier` machine learning model to predict the `males` and `female` classes in the test DataFrame, i.e, `x_test`.

10. Print the confusion matrix and the classification report to evaluate your prediction model. Also, based on the confusion matrix, precision, recall and f1-score values, report whether the prediction model deployed by you is making accurate predictions or not.

---

#### 1. Create The DataFrames

Create the Pandas DataFrames for both the training and test datasets.

In [ ]:
# Create the DataFrames for both the train and test datasets and store them in the 'train_df' and 'test_df' variables
import pandas as pd
train_df = pd.read_csv("https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/whitehat-ds-datasets/project-4/gender-voice-train.csv")
test_df = pd.read_csv("https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/whitehat-ds-datasets/project-4/gender-voice-test.csv")

---

#### 2. Display First Five Rows

Display the first five rows of both the `train_df` and `test_df` DataFrames.

In [ ]:
# Display the first 5 rows of the 'train_df' DataFrame.
train_df.head()
test_df.head()

,label,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,...,mode,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx
0,1,0.186833,0.027472,0.184325,0.173955,0.204731,0.030777,2.655225,10.565846,0.821812,...,0.180645,0.186833,0.172790,0.023495,0.271186,0.178571,0.007812,0.226562,0.218750,0.108929
1,0,0.188879,0.060316,0.195537,0.138072,0.242975,0.104904,1.497393,5.037085,0.909425,...,0.140386,0.188879,0.133092,0.050847,0.272727,0.855938,0.023438,8.718750,8.695312,0.098712
2,0,0.150705,0.087127,0.174299,0.069666,0.226082,0.156416,2.603951,22.328899,0.969287,...,0.050181,0.150705,0.109992,0.017260,0.266667,1.240954,0.007812,5.562500,5.554688,0.332396
3,1,0.183667,0.040607,0.182534,0.156480,0.207646,0.051166,2.054138,7.483019,0.898138,...,0.177040,0.183667,0.149237,0.018648,0.262295,0.550312,0.007812,3.421875,3.414062,0.166503
4,1,0.205159,0.039543,0.210805,0.186667,0.228908,0.042241,2.099683,7.562209,0.876002,...,0.224885,0.205159,0.154736,0.047105,0.277457,1.578835,0.187500,10.804688,10.617188,0.113644

In [ ]:
# Display the first 5 rows of the 'test_df' DataFrame.
test_df.head()

   label  meanfreq        sd  ...     maxdom    dfrange   modindx
0      1  0.186833  0.027472  ...   0.226562   0.218750  0.108929
1      0  0.188879  0.060316  ...   8.718750   8.695312  0.098712
2      0  0.150705  0.087127  ...   5.562500   5.554688  0.332396
3      1  0.183667  0.040607  ...   3.421875   3.414062  0.166503
4      1  0.205159  0.039543  ...  10.804688  10.617188  0.113644

[5 rows x 21 columns]

---

#### 3. Display Last Five Rows

Display the last five rows of both the `train_df` and `test_df` DataFrames.

In [ ]:
# Display the last 5 rows of the 'train_df' DataFrame.
train_df.tail()

      label  meanfreq        sd  ...    maxdom   dfrange   modindx
2117      1  0.166738  0.052677  ...  0.214844  0.053711  0.136364
2118      0  0.198718  0.058959  ...  4.968750  4.945312  0.155766
2119      0  0.202333  0.063001  ...  7.429688  7.406250  0.093438
2120      0  0.181799  0.058102  ...  4.359375  4.335938  0.062312
2121      0  0.167732  0.066225  ...  6.023438  6.000000  0.123384

[5 rows x 21 columns]

In [ ]:
# Display the last 5 rows of the 'test_df' DataFrame.
test_df.tail()

      label  meanfreq        sd  ...    maxdom   dfrange   modindx
1041      0  0.143504  0.073334  ...  2.335938  2.328125  0.203020
1042      0  0.151532  0.058071  ...  0.776367  0.688477  0.650870
1043      1  0.230144  0.033577  ...  8.648438  8.414062  0.120313
1044      0  0.204982  0.061316  ...  0.796875  0.648438  0.312048
1045      0  0.171713  0.061671  ...  5.789062  5.757812  0.198301

[5 rows x 21 columns]

---

#### 4. Rows & Columns In Train DataFrame

Find the number of rows and columns in both the `train_df` and `test_df` DataFrames.

In [ ]:
# Print the number of rows and columns in both the DataFrames.
test_df.shape
train_df.shape

(2122, 21)

---

#### 5. Check For Missing Values

Check whether any of the columns in both the `train_df` and `test_df` DataFrames has any missing value.

In [ ]:
# Check for the missing values in the 'train_df' DataFrame.
train_df.isnull().sum()

label       0
meanfreq    0
sd          0
median      0
Q25         0
Q75         0
IQR         0
skew        0
kurt        0
sp.ent      0
sfm         0
mode        0
centroid    0
meanfun     0
minfun      0
maxfun      0
meandom     0
mindom      0
maxdom      0
dfrange     0
modindx     0
dtype: int64

In [ ]:
# Check for the missing values in the 'test_df' DataFrame.
test_df.isnull().sum()

label       0
meanfreq    0
sd          0
median      0
Q25         0
Q75         0
IQR         0
skew        0
kurt        0
sp.ent      0
sfm         0
mode        0
centroid    0
meanfun     0
minfun      0
maxfun      0
meandom     0
mindom      0
maxdom      0
dfrange     0
modindx     0
dtype: int64

---

#### 6. Count The `male` & `female` Classes

Find out the number of `male` and `female` values in both the `train_df` and `test_df` DataFrames.

In [ ]:
# Print the count of the 'male' and 'female' classes in the 'train_df' DataFrame.
train_df['label'].value_counts()

label
1    1085
0    1037
Name: count, dtype: int64

In [ ]:
# Print the count of the 'male' and 'female' classes in the 'test_df' DataFrame.
test_df['label'].value_counts()

label
0    547
1    499
Name: count, dtype: int64

---

#### 7. Feature Variables Extraction

Get the feature variables, i.e., `x_train` and `x_test` from both the `train_df` and `test_df` DataFrames respectively. Then, display the first 5 rows of `x_train` and `x_test` DataFrames.

In [ ]:
# Get the feature variables from the 'test_df' DataFrame.
x_test = test_df.iloc[:,1:]
# Display the first 5 rows of the 'x_test' DataFrame.
x_test.head()

   meanfreq        sd    median  ...     maxdom    dfrange   modindx
0  0.186833  0.027472  0.184325  ...   0.226562   0.218750  0.108929
1  0.188879  0.060316  0.195537  ...   8.718750   8.695312  0.098712
2  0.150705  0.087127  0.174299  ...   5.562500   5.554688  0.332396
3  0.183667  0.040607  0.182534  ...   3.421875   3.414062  0.166503
4  0.205159  0.039543  0.210805  ...  10.804688  10.617188  0.113644

[5 rows x 20 columns]

In [ ]:
# Get the feature variables from the 'test_df' DataFrame.
x_test = test_df.iloc[:,1:]
# Display the first 5 rows of the 'x_test' DataFrame.
x_test.head()

   meanfreq        sd    median  ...     maxdom    dfrange   modindx
0  0.186833  0.027472  0.184325  ...   0.226562   0.218750  0.108929
1  0.188879  0.060316  0.195537  ...   8.718750   8.695312  0.098712
2  0.150705  0.087127  0.174299  ...   5.562500   5.554688  0.332396
3  0.183667  0.040607  0.182534  ...   3.421875   3.414062  0.166503
4  0.205159  0.039543  0.210805  ...  10.804688  10.617188  0.113644

[5 rows x 20 columns]

---

#### 8. Target Variable Extraction

Get the target variables, i.e., `y_train` and `y_test` from both the `train_df` and `test_df` DataFrames respectively. Then, display the first 5 rows of `y_train` and `y_test` Pandas series.

In [ ]:
# Get the target variable from the 'test_df' DataFrame.
y_test = test_df.iloc[:,0]
# Display the first 5 rows of the 'y_test' Pandas series.
y_test.head()

0    1
1    0
2    0
3    1
4    1
Name: label, dtype: int64

In [ ]:
# Get the target variable from the 'test_df' DataFrame.
y_test = test_df.iloc[:,0]
# Display the first 5 rows of the 'y_test' Pandas series.
y_test.head()

0    1
1    0
2    0
3    1
4    1
Name: label, dtype: int64

---

#### 9. Building A Random Forest Classifier Model

In [ ]:
# Build a Random Forest Classifier model.
# Import the 'RandomForestClassifier' module.
from sklearn.ensemble import RandomForestClassifier
# Import the confusion_matrix and classification_report modules.
from sklearn.metrics import confusion_matrix,classification_report
x_train = train_df.iloc[:, 1:]
y_train = train_df.iloc[:, 0]

rf_clf = RandomForestClassifier(n_jobs=-1,n_estimators=50)

rf_clf.fit(x_train, y_train)

x_test = test_df.iloc[:,1:]
y_test = test_df.iloc[:,0]

rf_clf.score(x_test, y_test)

0.9818355640535373

In [ ]:
# Predict the target variable based on the feature variables of the test DataFrame.
y_predicted = rf_clf.predict(x_test)
y_predicted[]

1

---

#### 10. Confusion Matrix & Classification Report

Print the confusion matrix and classification report to evaluate the model. Interpret and report the results obtained from the confusion matrix and the classification report.

In [ ]:
# Print the confusion matrix to see the number of TN, FN, TP and FP values.
confusion_matrix(y_test,y_predicted)

In [ ]:
# Print the precision, recall and f1-score values for both the male and female classes.
print(classification_report(y_test,y_predicted))

---